<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Study Buddy</title>
  <!--<link href="css/style.css" rel="stylesheet" />-->
</head>

<body>
  {% include 'components/navbar.html' %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li {% if messages.tags %} class="{{message.tags}}" {% endif %}>
      {{message}}
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% block content %} {% endblock %}
</body>

</html>
